@import '../../styles/colors.scss';


.inputWrap{
  margin-top: 40px;
  position: relative;
  border-bottom:  2px dashed $disabledColor;

  &[data-status="valid"]{
    border-bottom-color: $valid;
    &::after{
      background-color: $valid;
    }
  }

  &[data-status="invalid"]{
    border-bottom-color: $invalid;
    &::after{
      background-color: $invalid;
    }
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $disabledColor;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &:focus-within{
      border-color: transparent;
      &::after{
        transform: scaleX(1);
      }

      label{
        transform: scale(0.9) translateY(-20px);
        transition: transform 0.2s ease;
      }
  }


  input{
    display: block;
    line-height: 24px;
    width: 100%;
    &:not(:placeholder-shown) + label{
      transform: scale(0.9) translateY(-20px);
    }
  }

  label{
    position: absolute;
    left: 8px;
    top: 0px;
    color: $disabledColor;
    pointer-events: none;
    transform-origin: 0%;
    transform: translateY(0px);
    transition: transform 0.2s ease;
  }

  .status{
    position: absolute;
    right: 8px;
    font-size: 10px;
    cursor: help;
    top: 0px;
  }
}