@import '../../styles/colors.scss';

button{
  background-color: $primary;
  color: $white;
  line-height: 60px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  &:hover{
    opacity: 0.9;
  }
}

.loginWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    width: 100%;

    img{
      margin-top: 40px
    }

    h1{
      color: $white;
      margin: 16px 0px 40px;
    }
  }

  .form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 4px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;
    h2{
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .inputWrap{
      margin-top: 16px;
      position: relative;
      
      .status{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        display: block;
        &::before{
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-color: $primaryLight;
          border-radius: 50%;
        }
      }
    }

    button{
        margin-top: 32px;
    }

    .link{
      text-align: center;
      color: $primary;
      text-transform:  lowercase;
      margin-top: 16px;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }

    
  }
  
  .footer{
    background-color: $primary;
    height: 48px;
    width: 100%;
  }
}