@import '../../../../styles/colors.scss';

.surveyItemWrap{
  height: 250px;
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  flex-basis: 48%;
  margin-bottom: 24px;
  box-shadow: 0px 1px 3px -1px $black;
  list-style: none;

  .surveyContent{
    display: flex;
    flex-direction: row;
    border-radius:  8px 8px 0px 0px;
    justify-content: space-between;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-image: 
      linear-gradient(to right, rgba($primaryLight, 0.1), rgba($primaryLight, 0.1)),
      linear-gradient(to right, rgba($white, 0.1), rgba($white, 0.1));
    background-size: 0 0, 54px 0;
    background-size: 50px 100%, 100% 100%;
    position: relative;
    padding: 40px;
    .iconWrap{
      position: absolute;
      top: -10px;
      right: -10px;
    }
    time{
      display: flex;
      flex-direction: column;
      background-color: $primaryLight;
      color: $white;
      border-radius: 8px;
      margin-left: 24px;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 100px;
      flex-shrink: 0;
      .day{
        font-size: 40px;     
        font-weight: bold;         
      }
      .month{
        text-transform: lowercase;
        margin: 0px 0px 5px 0px;
      }

      .year{
        font-size: 16px;   
      }
    }

    p{
      font-size: 18px;
      margin: 24px;
      align-self: center;
      flex-grow: 1;
    }
  }

  footer{
    background-color: $primary;
    color: $white;
    line-height: 40px;
    text-transform: lowercase;
    text-align: center;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;
    &:hover{
      background-color: $primaryDark;
    }
  }
}

@media (max-width: 600px){
  .surveyItemWrap{
    flex-basis: 100%;
  }
}