$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #880E4F;
$primaryLight: #bc477b;
$primaryDark: #560027;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4caf50;
$invalid: #ef5350;