@import './colors.scss';

*{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: $background;
}

input {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  width: 100%;
  padding-left: 20px;
  padding-right: 35px;
  border: none;
  outline: none;
  &:focus{
    outline-color: $primaryLight;
  }
}

button{
  background-color: $primary;
  color: $white;
  line-height: 50px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  padding: 0px 16px;
  &:hover{
    opacity: 0.9;
  }
  &:disabled{
    background-color: $disabledBackground;
    cursor: not-allowed;
    color: $disabledColor;
    &:hover{
      opacity: 1;
    }
  }
}