@import '../../styles/colors.scss';

.headerWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  border-top: 40px solid $primaryDark;
  width: 100%;

  img{
    margin-top: 40px
  }

  h1{
    color: $white;
    margin: 16px 0px 40px;
  }
}

@media (max-width: 600px){
  .headerWrap{
    border-top-width: 20px;
  }
}