@import '../../styles/colors.scss';

.iconWrap{
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px -1px $black;
  &.red{
    background-color: $invalid;
  }
  &.green{
    background-color: $valid;
  }
}